body {
background-color: white;
background-image: url(../imagenes/japon3.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}




header { height:20vh;
  background-color:  #fcfaf9   ;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;



}

.redesarriba {display: flex;
  justify-content: flex-end;
width: 15%;



}

.wlogo {width: 80%}
.flogo {width: 80%}
.mlogo {width: 80%}
.iglogo{width: 80%}

.logo {display: flex;
  width: 10%;

}

.logoimagen {width: 100%;

}

.titulo {text-decoration: underline;
color:  #bc042c;
}





section { background-color: #D6C7C1;
  width: 45%;
  margin: 1px;
  padding: 10px;
  border: solid 2px black;
  font-style: italic;
  float: left;
  box-sizing: border-box;

}

aside {
  width: 48%;
float: left;
margin: 40px;
padding: 10px;
box-sizing: border-box;
text-align: center;




}


nav {background-color: white;}

a {color: black;}

}

.mapa { }

.cajaimagen {text-align: center;}

.imagen { text-align: center;
  width: 80%
}



.cajavideo { text-align: center;}

.video {}

footer {
  height: 20vh;
  background-color: #605E5E;
  display: flex;
  justify-content:  space-around;
  align-items: center;
text-align: center;
flex-wrap: wrap;
border: solid 5px black;


}


.mapabs {display: flex;
border: solid 5px black;
}

.mapatigre { height: 110%;
width: 110%;
padding: 5px;
border: solid 5px black;

}




.redesabajo {display: flex;
  justify-content:center;
width: 15%;
padding: 10px;
border: solid 5px black;


}

.wlogo2 {width: 80%}
.flogo2 {width: 80%}
.mlogo2 {width: 80%}
.iglogo2 {width: 80%}


.Informacion { text-align: center;
  font-size: 150%;
  padding: 5px;
  line-height: 7px;
  text-decoration: underline;

}


.infofooter { border: solid 5px black;
  width: 25%;
  padding-right: 4px;
  padding-left: 4px;
}

.infoabajo {
  font-size: 80%;
  font-style: italic;}


.ul1 {background-color: #fcfaf9 ;
background-size: 50%;


}

.enlace1 {color: white ;
background-color: #bc042c;
border: red;
padding: 10px;

}

.clarin {background-color:#bc042c;
  color: white;
  padding: 10px; }


.color1 {text-decoration: underline; }


.ingredientes {text-decoration: underline;
}

.tipos {text-decoration: underline;}
.sushizu {text-decoration: underline;}
.preparar {text-decoration: underline;}

.historia {font-size: 180%;
text-decoration: underline;
}

.tipos11 {font-size: 300%;
  text-align: center;
  text-decoration: underline;
  text-decoration-color:  #bc042c;

}


.sushitipos {   text-align: center;
  font-style: italic;
  font-size: 250%;
  color: white;

}


.receta1 { margin-right: 70%;
  background-color: #bc042c;
  color: white;
  padding: 10px;


}

.receta2 {margin-left: 70%;
  background-color: #bc042c;
  color: white;
  padding: 10px;


}




  .face { position: relative;
    width: 5%;
  }

  .ig{ position: relative;
  width: 5%}


  .mail{position: relative;
  width: 5%}

  .whatsapp {position: fixed;
width: 110px;
height: 65px;
top: 880px;
left: 1790px;

  }
