body {
background-color: white;
background-image: url(../imagenes/japon3.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}




header {
  background-color: white;
display: flex;
justify-content: space-around;
height:25vh;






}


section { background-color: #D6C7C1;
  width: 45%;
  padding: 10px;

}


nav {background-color: white;}

a {color: black;}


aside { text-align: right;
  float: right;




}

footer {text-align: center;
}


.ul1 {background-color: white;
background-size: 50%;


}

.enlace1 {color: white ;
background-color: #bc042c;
border: red;
padding: 10px;

}

.clarin {background-color:#bc042c;
  color: white;
  padding: 10px;




 }




.color1 {text-decoration: underline; }


.ingredientes {text-decoration: underline;
}

.tipos {text-decoration: underline;}
.sushizu {text-decoration: underline;}
.preparar {text-decoration: underline;}

.historia {font-size: 150%}

.tipos11 {font-size: 300%;
  text-align: center;
  text-decoration: underline;
  text-decoration-color:  #bc042c;

}


.sushitipos {   text-align: center;
  font-style: italic;
  font-size: 250%;
  color: white;

}


.receta1 { margin-right: 70%;
  background-color: #bc042c;
  color: white;
  padding: 10px;


}

.receta2 {margin-left: 70%;
  background-color: #bc042c;
  color: white;
  padding: 10px;


}




  .face { position: relative;
    width: 5%;
  }

  .ig{ position: relative;
  width: 5%}


  .mail{position: relative;
  width: 5%}

  .whatsapp {position: fixed;
width: 110px;
height: 65px;
top: 880px;
left: 1790px;

  }
